*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/* Header */
header{
    width: 100%;
    height: 570px;
    background: url('./image/header_bg.jpg') no-repeat center bottom;
}
header .menu-top{
    background: #f8f8f8;
    padding: 7px 0;
    box-shadow: 0 0 8px #cfc9c4;
}
header .menu-top nav{
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu-top ul{
    display: flex;
    list-style: none;
}
header .menu-top ul li{
    margin: 0 17px;
}
header .menu-top ul li a{
    font-size: 16px;
    font-weight: 400;
    color: #4e4e4e;
    text-decoration: none;
    transition: 500ms;
}
header .menu-top ul li a:hover{
    color: #dd4400;
}
header .menu-top ul li .active{
    color: #dd4400;
}



/* ========= section ========== */
main .wraper{
    width: 1120px;
    margin: auto;
    padding: 50px 0 100px 0;
}
main .wraper .about{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
main .wraper .about .box{
    width: 255px;
    padding: 50px 0 26px 0;
    text-align: center;
    box-shadow: 0 0 8px #ebded9;
}
main .wraper .about .box h3{
    font-size: 18px;
    color: #dd4400;
    font-weight: 700;
}
main .wraper .about .box .line{
    margin: 50px 0 30px 0;
}
main .btn{
    padding: 13px 53px 11px 53px;
    background: #dd4400;
    color: wheat;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    border: none;
    transition: 500ms;
    cursor: pointer;
}
main .btn:hover{
    background: greenyellow;
    color: black;
}

/* ============ */
main .business{
    display: flex;
    justify-content: space-between;
}
main .business .left{
    width: 730px;
}
main .business .right{
    width: 230px;
}
main .business h2{
    font-size: 30px;
    color: #5e5e5e;
    font-weight: 700;
    margin-bottom: 52px;
}
main .business .left .btn{
    margin-top: 0px;
}
main .business .left p{
    line-height: 27px;
    color: #5e5e5e;
    font-size: 18px;
    margin-bottom: 40px;
}

/* ===== */
main .business .right .works{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

main .business .right .works img{
    width: 65px;
    height: 65px;
    margin-right: 30px;
}
main .business .right .works a{
    font-size: 14px;
    font-weight: 400;
    color: #dd4400;
    line-height: 22px;
}


/* footer */
footer{
    padding: 65px 0;
    background: #dd4400;
    color: white;
}
footer .contact{
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
footer .contact h3{
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 24px;
}
footer .contact .tel{
    font-weight: 400;
    font-size: 45px;
    color: white;
    text-decoration: none;
}
footer .contact .left p{
    font-size: 18px;
    font-weight: 400;
}

footer .contact .right p{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 26px;
}
footer .contact .right a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

/* ===============================            finish                         ===================== */